
/** Grid Component **/

.Grid {
  height: 400px;
  /*overflow: scroll;*/

  display:flex;

  align-items: flex-start;
  justify-content: flex-start;

  /* allow scrolling of flex container */
  overflow-x:auto;

}


/* A Flex Container */
.Grid_Flex {
  /*display: inline-flex;*/
  /*flex-flow: row nowrap;*/

  /*justify-content: center; !* center cols *!*/


  display: inherit;


  /* tweak the where items line up on the row */
  /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
  /*align-content: flex-start;*/





  /*align-items: flex-start;*/
  /*justify-content: center;*/

  /*flex-flow: row nowrap;  !* column children (title, words) will go in a row & wrap *!*/


}



/**  Column Component  **/



/* A Flex Item and Container */
.Column {
  background-color: khaki;

  /*flex-basis: 12%;*/
  /*!* control the width of the columns, max 20% *!*/



  display: flex;

  align-items: center;
  justify-content: center;

  flex-flow: row wrap;  /* column children (title, words) will go in a row & wrap */

  /* tweak the where items line up on the row */
  /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
  align-content: flex-start;
}


.ColumnTitle {
  width: 100%;  /* expand width of column */
  /* AS FLEX ITEM */
  order: 1;
}



/**   Word  Component  **/



/* A Flex Item and Container */
.Word {
  background-color: pink;

  width: 75px;
  padding: 1%;

  flex-direction: column;
  justify-content: center; /* centers img & word text */
  align-items: center; /* items are stacked to the cross start of the flex container */





  /*flex-basis: 5%;*/

  /*max-width: 100%;*/

  /* AS ITEM */
  order: 2;

}

/* A Flex Item */
.Word img {  max-width: 100%;  }

/* A Flex Item */
.WordText {
  padding-top: 5px;
  font-size: 1.2em;
}




.Word:hover {
  background-color: #F5f5fa;
  color: red;
}




.DeleteButton {
  height: 20px;
  width: 20px;
  border: solid 1px red;
  background-color: #fff;
  color: red;
}

.DeleteButton:hover {
  color: black;
  background-color: red;

}
